/*===============UNIVERSAL RESET====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/*===============GENERAL BODY STYLING====================*/
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to right, #ede9fe, #e9d5ff, #d8b4fe);
  font-size: 16px;
}
/*==================BANNER STYLE===================*/

header {
  background-image: linear-gradient(
      to right,
      rgba(237, 233, 254, 0.6),
      rgba(237, 233, 254, 0)
    ),
    url("../images/background_flowers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #581c87e6;
}

.banner {
  height: 70%;
  display: flex;
}

.profile__pic {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 5.9px 5.9px hsl(0deg 0% 0% / 0.41);
}

/*==================NAV BAR STYLES AND ANIMATION===================*/

a:link,
a:visited {
  text-decoration: none;
  color: #ede9fe;
}

.gradient {
  color: #581c87;
  background-image: linear-gradient(90deg, #7e22ce 10%, #d8b4fe 50%),
    linear-gradient(90deg, #d8b4fe 10%, #ede9fe 50%);
  background-position: 0 100%;
  background-size: 0 2px, 100% 2px;
  background-repeat: no-repeat;
  transition: background-size 1s;
}

.gradient:hover {
  background-image: linear-gradient(90deg, #7e22ce 10%, #d8b4fe 50%),
    linear-gradient(90deg, #d8b4fe 10%, #ede9fe 50%);
  background-size: 100% 2px, 100% 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

nav {
  display: flex;
  margin: 1em;
}

.nav-content {
  display: flex;
  font-size: 1em;
}

.nav-item {
  margin: 0.5em;
  list-style: none;
  color: #ede9fe;
}

.name a {
  background-color: #ede9fee6;
  font-size: 2em;
  font-weight: 600;
  padding: 0.25em 0.5em;
  border-radius: 0 1em 1em 0;
  color: black;
  transition: 1s;
}

.name a:hover {
  background-color: #d8b4fe;
  transition: 1s;
  cursor: pointer;
}

/*==================MAIN CONTENT STYLES====================*/

/* .credentials {
  display: flex;
} */

.about-me {
  display: flex;
  width: 100%;

  /* margin: 0 auto; */
}

.work {
  display: flex;
  width: 100%;
}

.about-me__header,
.work__header,
.social-media__header {
  display: flex;
  flex: 0 0 200px;
  padding: 3%;
  text-align: right;
  font-size: 1.75em;
  justify-content: end;
  align-self: center;
}

.about-me__detail,
.social-media__detail,
.work__detail {
  margin: 0.5em;
  padding: 0 0.5em;
  border-left: 3px solid black;
}

.about-me__detail {
  display: flex;
  flex-direction: column;
}

.work__detail {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 1rem;
}

.work__detail-top {
  display: flex;
  width: 100%;
  height: 30%;
  border: 3px solid #7e22ce;
}

div.work__detail-top img {
  width: 100%;
  object-fit: cover;
}

.work__detail-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
  width: 100%;
  height: 20%;
  padding: 0.5em;
}

div.work__detail-bottom img {
  width: 50%;
  object-fit: cover;
  border: 3px solid #7e22ce;
  margin: 1rem 0;
}

/*==================FOOTER STYLES====================*/

footer {
  display: flex;
}
